html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    min-height: 100vh;
    text-align: center;
    color: cadetblue;
    justify-content: center;  /* horizontal centering */
}

h1 {
    display: flex;
    flex: 1;
    color: red;
}
