html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f0f8ff;
    color: cadetblue;
    min-height: 100vh;
    text-align: center;
}

h1 {
    display: flex;
    flex: 1;
    font-family: 'monospace';
    color: cadetblue;
    justify-content: center;
    margin-top: 50%;
}
